/* S'assurer que html et body ont une hauteur de 100% */
html, body {
  height: 100%;
  margin: 0; /* Supprimer les marges par défaut */
}

/* Appliquer la couleur de fond et s'assurer que l'élément .App occupe toute la hauteur de la page */
.App {
  text-align: center;
  height: 100%; /* Assurer que l'élément couvre toute la hauteur disponible */
  min-height: 100vh; /* Garantir que la page couvre tout l'écran, même si le contenu est peu élevé */
  display: flex; /* Utilisation de Flexbox pour la mise en page */
  flex-direction: column;
  justify-content: flex-start; /* Garantir que le contenu est aligné en haut */
  overflow: hidden; /* Pour éviter que le contenu ne déborde */
}

/* Autres styles pour le logo et header */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh; /* Assure que le header prend tout l'écran si nécessaire */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
